
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/*
!local/local.json
build/
profiles/
# native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/
.vs/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
/.vs
/.vs
/settings
/settings
